@use 'sass:math';

@use './tools' as *;

// Для корректной работы hover в мобилках
@mixin media-hover($value) {
  @media (hover: $value) {
    & {
      @content;
    }
  }
}

// Для корректной работы hover в мобилках
@mixin media-focus($value) {
  @media (focus: $value) {
    & {
      @content;
    }
  }
}

$GRID_COLUMN: 12;
@mixin make-size($size: false) {
  & {
    $value: math.div(100%, $GRID_COLUMN) * $size;
    flex: 0 0 auto;
    flex-basis: $value;
    width: $value;
  }
}

@mixin app-container() {
  & {
    max-width: rem(1442);

    margin-left: var(--container-margins);
    margin-right: var(--container-margins);

    box-sizing: border-box;

    @media (min-width: rem(1200)) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

///
/// Generates flexible fluid widths for grid elements with fixed pixel gaps.
/// @param {Number} $spaces - The total number of gaps/gaps-offsets in a single row (usually columns - 1).
/// @param {Number} $size   - The total number of columns/cards in a single row.
/// @example
///  For a 3-column row with 2 gaps between them:
///   @include size(2, 3);
@mixin size($spaces, $size) {
  & {
    width: calc((100% - var(--cards-offset) * #{$spaces}) / #{$size});
  }

  &:not(:first-child) {
    margin-left: var(--cards-offset);
  }
}
