@use '@styles/tools/tools' as *;

:root {
  --root-bg-color: #fef5e1;

  // Font size
  --fsize-xxl: clamp(#{rem(38)}, 4vw, #{rem(52)});
  --fsize-xl: clamp(#{rem(18)}, 4vw, #{rem(24)});
  --fsize-l: clamp(#{rem(16)}, 4vw, #{rem(18)});
  --fsize-m: clamp(#{rem(14)}, 4vw, #{rem(16)});
  --fsize-s: clamp(#{rem(12)}, 4vw, #{rem(14)});

  // Font weights
  --fweight-regular: 400;
  --fweight-medium: 500;
  --fweight-semibold: 600;
  --fweight-bold: 700;

  // Borders
  --border-radius-xl: clamp(#{rem(15)}, 4vw, #{rem(30)});
  --border-radius-l: clamp(#{rem(12)}, 4vw, #{rem(20)});
  --border-radius-full: 50%;

  // Gaps, Paddings, Margins
  --paddings-size-l: clamp(#{rem(12)}, 4vw, #{rem(20)});
  --container-margins: clamp(#{rem(11)}, 4vw, #{rem(22)});
  --cards-offset: #{rem(36)};
  --cards-offset-one-side: #{rem(18)};

  // Colors
  --primary-color: #1c1c1c;
  --primary-ghost-color: rgba(28, 28, 28, 0.4);
  --secondary-color: #fcfcfc;

  // Shadow
  --bshadow-color: rgba(245, 245, 247, 0.1);
  --bshadow-rules: 0 #{rem(10)} #{rem(10)} var(--bshadow-color);
}
